{% extends 'base.html.twig' %}

{% block content %}
    <table class="table">
        <caption>Liste de candidatures.</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Motivation</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <th scope="row">{{ application.id }}</th>
                    <td>{{ application.firstName }}</td>
                    <td>{{ application.lastName }}</td>
                    <td>{{ application.email }}</td>
                    <td>{{ application.message }}</td>
                    <td>{{ application.createdAt|date }}</td>
                    <td>
                        {% if application.status == 'new' %}
                            <a href="{{ path('admin_application_accept', {'id': application.id}) }}" class="btn btn-success">Inviter</a>
                            <a href="{{ path('admin_application_reject', {'id': application.id}) }}" class="btn btn-danger">Refuser</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
