<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bourse aux équipiers!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter="sass"
                "@AppBundle/Resources/assets/sass/styles.scss"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body {% block body_attributes %}{% endblock %}>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('homepage') }}">Bourse aux Équipiers</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% if app.user %}
                                    <li>
                                        <a href="{{ path('logout') }}">Logout</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('login') }}">Connexion</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('apply') }}">Inscription</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock %}

            <div class="container">
                {% import 'helpers.html.twig' as helpers %}

                {% block flashMessages %}
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div id="main-messages">
                                {% embed 'messages.html.twig' %}{% endembed %}
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>

            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        <a href="{{path("qui_sommes_nous") }}">qui sommes nous</a>
                        <a href="{{path("contact") }}">contact</a>
                    </div>
                </footer>
            {% endblock %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/assets/vendor/jquery/jquery.min.js'
            '@AppBundle/Resources/assets/vendor/bootstrap/assets/javascripts/bootstrap.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
